/* Google Fonts import */
@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Anybody:ital,wght@0,100..900;1,100..900&display=swap");

/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*Generic project styles*/
  font-family: "anybody", arial, sans-serif;
}

/* Styling Classes */
.italics {
  font-style: italic;
}

.shrink-text {
  font-size: 80%;
}

.margin-push-down {
  margin-bottom: 10px;
}

.hidden-heading {
  display: none;
}

.underline {
  text-decoration: underline;
}

/* Header */
nav {
  position: fixed;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

#nav-menu {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px 10px;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  color: #fafafa;
  font-size: 115%;
  text-transform: uppercase;
}

#nav-menu a {
  color: inherit;
  text-decoration: none;
}

#page-nav-menu {
  background-color: rgba(30, 30, 30, 0.7);
  padding: 5px 10px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  color: #fafafa;
  text-transform: uppercase;
  position: absolute;
  top: 49px;
}

#page-nav-menu a {
  color: inherit;
  text-decoration: none;
}

#page-nav-dropdown {
  display: none;
}

#desktop-page-nav-menu {
  display: none;
}

#logo {
  color: white;
  font-weight: 800;
  font-size: 135%;
}

.divide {
  font-size: 40px;
  font-weight: lighter;
}

/* Main Content */
main {
  /* Make main element take up any surplus space to push footer down */
  flex: 1 0 auto;
  /* Enable flex properties for child elements */
  display: flex;
  flex-direction: column;
}

#desktop-homepage {
  display: none;
}

/* Hero Section */
#hero {
  position: relative;
  height: 800px;
  width: 100%;
  background-image: url("../images/hero-image.webp");
  background-size: cover;
  background-position: 70%;
  padding: 0 10% 0 10%;
}

#hero > h2 {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  padding: 15px;
  position: absolute;
  top: 73%;
  left: 32%;
  transform: translate(-40%);
  text-transform: uppercase;
  font-style: italic;
  color: white;
  font-size: 330%;
}

#hero-button {
  font-family: "anybody", arial, sans-serif;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  font-size: 200%;
  font-weight: 750;
  font-style: italic;
  text-decoration: none;
  text-wrap: nowrap;
  background-color: #eed4bb;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 82%;
  left: 45%;
  transform: translate(-40%);
}

#hero-button:hover {
  box-shadow: none;
  color: #eed4bb;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Strength Section */
#strength {
  background-color: #ebf3f7;
  width: 100%;
  color: slategrey;
  display: flex;
  flex-direction: column;
  position: relative;
}

#strength-image {
  display: flex;
  width: 100%;
}

#strength-image > img {
  width: 100%;
  object-fit: cover;
}

#strength-horizontal {
  display: none;
}

#strength > h2 {
  color: slategray;
  position: absolute;
  text-wrap: wrap;
  text-align: center;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  text-transform: uppercase;
  font-size: 250%;
}

#strength-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-wrap: wrap;
  word-spacing: 2px;
}

#strength-text > h3 {
  text-align: center;
  width: 90%;
  margin: 25px auto 0;
  text-transform: uppercase;
  font-size: 115%;
  word-spacing: normal;
}

#strength-text > p {
  text-align: center;
  width: 85%;
  margin: 15px auto 20px;
}

/* Endurance Section */
#endurance {
  background-color: #096b77;
  width: 100%;
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

#endurance-image {
  display: flex;
  width: 100%;
}

#endurance-horizontal {
  display: none;
}

#endurance-image > img {
  width: 100%;
  margin-bottom: 10px;
  object-fit: cover;
}

#endurance > h2 {
  color: white;
  position: absolute;
  text-wrap: wrap;
  text-align: center;
  top: 17%;
  left: 35%;
  transform: translate(-50%);
  text-transform: uppercase;
  font-size: 250%;
}

#endurance-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-wrap: wrap;
  word-spacing: 2px;
}

#endurance-text > h3 {
  text-align: center;
  width: 90%;
  margin: 10px auto 0;
  text-transform: uppercase;
  font-size: 115%;
  word-spacing: normal;
}

#endurance-text > p {
  text-align: center;
  width: 85%;
  margin: 15px auto 20px;
}

/* Diet Section */
#diet {
  background-color: #856ea2;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

#diet-horizontal {
  display: none;
}

#diet-image {
  display: flex;
  width: 100%;
}

#diet-image > img {
  width: 100%;
  margin-bottom: 10px;
  object-fit: cover;
}

#diet > h2 {
  color: white;
  position: absolute;
  text-wrap: wrap;
  text-align: center;
  top: 49%;
  left: 70%;
  transform: translate(-50%);
  text-transform: uppercase;
  font-size: 250%;
  font-weight: 700;
}

#diet-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-wrap: wrap;
  word-spacing: 2px;
}

#diet-text > h3 {
  text-align: center;
  width: 85%;
  margin: 10px auto 0;
  text-transform: uppercase;
  font-size: 115%;
  word-spacing: normal;
}

#diet-text > p {
  text-align: center;
  width: 85%;
  margin: 15px auto 20px;
}

/* Recovery Section */
#recovery {
  background-color: #d5dfe4;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

#recovery-horizontal {
  display: none;
}

#recovery-image {
  display: flex;
  width: 100%;
}

#recovery-image > img {
  width: 100%;
  margin-bottom: 10px;
  object-fit: cover;
}

#recovery > h2 {
  color: white;
  position: absolute;
  text-wrap: wrap;
  text-align: center;
  top: 52%;
  left: 60%;
  transform: translate(-50%);
  text-transform: uppercase;
  font-size: 250%;
  font-weight: 700;
}

#recovery-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-wrap: wrap;
  word-spacing: 2px;
  color: #263734;
  margin-bottom: 20px;
}

#recovery-text > h3 {
  text-align: center;
  width: 85%;
  margin: 10px auto 0;
  text-transform: uppercase;
  font-size: 115%;
  word-spacing: normal;
}

#recovery-text > p {
  text-align: center;
  width: 85%;
  margin: 15px auto 20px;
}

/* Events Page*/

/* Events Hero Section */
#events-main {
  background-image: url("../images/black-background.webp");
  background-size: cover;
}

#events-hero {
  position: relative;
  height: 250px;
  width: auto;
  background-image: url("../images/events-hero-image-torn.webp");
  background-size: cover;
  background-position: 53%;
  padding: 0 10% 0 10%;
}

#events-hero > h1 {
  width: 200px;
  padding: 15px;
  position: absolute;
  top: 34%;
  left: 20%;
  transform: translate(-40%);
  text-transform: uppercase;
  font-style: italic;
  color: white;
  font-size: 170%;
  line-height: 31px;
}

#events-hero > h2 {
  position: absolute;
  top: 81%;
  left: 30%;
  transform: translate(-40%);
  color: white;
  font-size: 60%;
  font-weight: 500;
}

/* FitXPO 2024 */
#fitxpo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 380px;
}

#fitxpo-logo > img {
  width: 150px;
  height: auto;
  margin: 15px auto 0;
}

#fitxpo-content {
  position: relative;
  margin: 25px 0;
  width: 100%;
  display: flex;
}

#fitxpo-content > img {
  width: 160px;
  height: auto;
  border-radius: 20%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 7%;
  left: 21%;
  transform: translate(-35%);
}

#fitxpo-text {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 10px 3px;
  border-radius: 5px;
  font-size: 58%;
  position: absolute;
  top: 7%;
  left: 61%;
  transform: translate(-15%);
  list-style-type: none;
  word-spacing: 1px;
  line-height: 10px;
}

#fitxpo-text > li:not(last-child) {
  margin-bottom: 10px;
}

#fitxpo-button img {
  position: absolute;
  width: 100px;
  top: 81%;
  left: 65%;
  transform: translate(-15%);
}

.red-text {
  color: #d12329;
}

/* Tough Mudder */
#tough-mudder {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 370px;
}

#tough-mudder-logo > img {
  width: 150px;
  height: auto;
  margin: 0 auto 0;
}

#tough-mudder-content {
  position: relative;
  width: 100%;
  margin: 25px 0;
  background-image: url("../images/black-background-torn.webp");
  background-size: cover;
  display: flex;
}

#tough-mudder-content > img {
  width: auto;
  height: 190px;
  border-radius: 20%;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 10%;
  left: 62%;
  transform: translate(-35%);
}

#tough-mudder-text {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 10px 3px;
  border-radius: 5px;
  font-size: 58%;
  position: absolute;
  width: 35%;
  top: 6%;
  left: 10%;
  transform: translate(-15%);
  list-style-type: none;
  word-spacing: 1px;
  line-height: 10px;
}

#tough-mudder-text > li:not(last-child) {
  margin-bottom: 10px;
}

#tough-button img {
  position: absolute;
  width: 100px;
  top: 91%;
  left: 13%;
  transform: translate(-15%);
}

.orange-text {
  color: #fe5e00;
}

/* Beyond the Limits 2024 */
#beyond-limits {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 410px;
}

#beyond-limits > h2 {
  margin-top: 20px;
  color: white;
  font-size: 200%;
  font-weight: 400;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
}

#beyond-limits-content {
  position: relative;
  margin: 25px 0;
  width: 100%;
  background-image: url("../images/black-background-torn.webp");
  background-size: cover;
  display: flex;
}

#beyond-limits-content > img {
  width: 190px;
  height: auto;
  border-radius: 20%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 2%;
  left: 23%;
  transform: translate(-35%);
}

#beyond-limits-text {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 10px 3px;
  border-radius: 5px;
  font-size: 58%;
  position: absolute;
  left: 65%;
  transform: translate(-15%);
  list-style-type: none;
  word-spacing: 1px;
  line-height: 10px;
}

#beyond-limits-text > li:not(last-child) {
  margin-bottom: 10px;
}

#beyond-limits-button img {
  position: absolute;
  width: 110px;
  top: 85%;
  left: 67%;
  transform: translate(-15%);
}

.yellow-text {
  color: #ffcb05;
}

.big-text {
  font-size: 200%;
  vertical-align: sub;
}

/* Mindful Earth */
#mindful-earth {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 400px;
  margin-top: 10px;
}

#mindful-heading {
  display: flex;
  position: relative;
}

#mindful-heading > h2 {
  margin-top: 20px;
  color: white;
  font-size: 200%;
  font-weight: 400;
  font-family: "ABeeZee", "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
}

#mindful-heading > img {
  width: 80px;
  height: auto;
  margin: 0 auto 0;
  justify-content: center;
}

#mindful-earth-content {
  position: relative;
  margin: 25px 0;
  width: 100%;
  background-image: url("../images/black-background-torn.webp");
  background-size: cover;
  display: flex;
}

#mindful-earth-content > img {
  width: auto;
  height: 190px;
  border-radius: 20%;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 10%;
  left: 62%;
  transform: translate(-35%);
}

#mindful-earth-text {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 10px 3px;
  border-radius: 5px;
  font-size: 58%;
  position: absolute;
  width: 35%;
  top: 3%;
  left: 10%;
  transform: translate(-15%);
  list-style-type: none;
  word-spacing: 1px;
  line-height: 10px;
}

#mindful-earth-text > li:not(last-child) {
  margin-bottom: 10px;
}

#mindful-button img {
  position: absolute;
  width: 100px;
  top: 80%;
  left: 13%;
  transform: translate(-15%);
}

.green-text {
  color: #779d30;
}

/* Go Further Page */

/* Go Further Hero Section */

#go-further-main {
  display: flex;
  flex-grow: 1;
  background-image: url("../images/go-further-hero.webp");
  background-size: auto 100%;
  background-position-x: 45%;
  background-attachment: fixed;
}

#go-further-hero {
  height: 700px;
}

#go-further-hero > h1 {
  position: absolute;
  top: 550px;
  left: 26%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: right;
  font-size: 250%;
  font-weight: 750;
  font-style: italic;
  text-transform: uppercase;
  line-height: 40px;
}

#go-further-hero > h2 {
  position: absolute;
  top: 605px;
  left: 22%;
  max-width: 265px;
  padding: 8px 6px;
  border-radius: 10px;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #eed4bb;
  color: rgba(0, 0, 0, 0.6);
  text-align: right;
  text-transform: uppercase;
  font-size: 100%;
  font-weight: 750;
  font-style: italic;
}

/*Go Further Form */
#go-further-signup {
  width: 90%;
  padding: 20px;
  border-radius: 0px 10px 10px 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  text-align: left;
  font-size: 85%;
  margin-bottom: 50px;
  box-shadow: 4px 4px 10px black;
}

.form-line-break {
  margin-bottom: 30px;
}

#form-heading {
  font-size: 110%;
  margin-bottom: 10px;
}

#go-further-signup select {
  background-color: rgba(150, 150, 150, 0.5);
  color: white;
  width: 200px;
  border-radius: 5px;
}
 #go-further-signup option {
  background-color: rgba(80, 80, 80, 1);
 }

#name {
  background-color: rgba(150, 150, 150, 0.5);
  color: white;
  border-radius: 10px;
  width: 200px;
  text-align: center;
}

#age {
  background-color: rgba(150, 150, 150, 0.5);
  color: white;
  border-radius: 10px;
  width: 50px;
  text-align: center;
}

#go-further-signup textarea {
  background-color: rgba(150, 150, 150, 0.5);
  color: white;
  border-radius: 5px;
  width: 90%;
}

#email {
  border-radius: 5px;
  background-color: rgba(150, 150, 150, 0.5);
  color: white;
}

#phone-number {
  border-radius: 5px;
  background-color: rgba(150, 150, 150, 0.5);
  color: white;
}

#form-button {
  font-family: "anybody", arial, sans-serif;
  font-size: 120%;
  background-color: #eed4bb;
  color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 7px;
  border: none;
  box-shadow: 1px 1px 5px rgba(150, 150, 150, 0.5);
}

#form-button:hover {
  box-shadow: none;
  color: #eed4bb;
  background-color: rgba(100, 100, 100, 0.5);
}

/* Walk-Ins Section */
#walk-ins {
  position: relative;
  min-height: 600px;
  max-width: 600px;
}

#walk-ins-text {
  position: absolute;
  width: auto;
  top: 20px;
  left: 20%;
  padding: 10px;
  min-height: 227px;
  border-radius: 10px 0 0 0;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  text-align: right;
}

#walk-ins-text > h2 {
  margin-bottom: 10px;
}

#walk-ins-text > h3 {
  margin-bottom: 10px;
}

#map {
  position: absolute;
  top: 227px;
  left: 20%;
  height: 250px;
  width: 80%;
  border-radius: 0 0 0 10px;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
  margin: 20px auto 30px;
}

/* Form-Submitted Page */
#form-submitted-background {
  background-image: url("../images/submitted-hero.webp");
  background-size: cover;
  background-attachment: fixed;
}

#form-submitted {
  margin-top: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.form-submitted-headings {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

#form-submitted > h1 {
  text-transform: uppercase;
  font-size: 250%;
  padding: 20px;
}

#form-submitted > h2 {
  font-size: 100%;
  padding: 0 20px 20px;
}

#form-submitted > h3 {
  font-size: 90%;
  padding: 0 20px 20px;
}

#vid-container {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#centr-vid {
  aspect-ratio: 16 / 9;
  width: 90%;
  border-radius: 10px;
}

/* Footer */
footer {
  background-color: black;
}

/* Partners Section */
#partners {
  background-color: black;
  margin: 0;
}

#partners > h2 {
  color: white;
  font-size: 95%;
  text-transform: uppercase;
  text-align: center;
  margin: 30px auto 0;
}

#partners > h3 {
  color: white;
  font-size: 80%;
  text-align: center;
  margin: 0 auto 5px;
  padding: 0 10px 15px;
}

#partner-logos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 0;
}

#partner-logos img {
  width: 50px;
  height: auto;
  margin: 0 auto;
}

/* Contact Section */
#contact {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 50%;
}

#mission-statement {
  width: 40%;
  margin-bottom: 15px;
}

#mission-statement > h2 {
  text-transform: uppercase;
  margin-bottom: 2px;
}

#mission-statement > h3 {
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.contact-details {
  margin-bottom: px;
  text-align: right;
}

/* Social Networks Section */
#social-networks {
  background-color: rgba(0, 0, 0, 1);
  text-align: center;
  padding: 3px 10px 15px;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 90%;
}

#social-networks i {
  font-size: 180%;
  padding: 5%;
  color: white;
}

/* Responsivity - Media Queries */

/* Small phones (max-width 345px) */
@media screen and (max-width: 345px) {
  /* Homepage */
  #nav-menu {
    font-size: 95%;
  }

  #dropdown-menu {
    font-size: 75%;
  }

  #hero > h2 {
    font-size: 200%;
    padding: 10px;
  }

  #hero-button {
    font-size: 135%;
    top: 80%;
  }

  #strength > h2 {
    font-size: 200%;
    top: 10%;
  }

  #endurance > h2 {
    font-size: 200%;
    top: 12%;
    transform: translate(-40%);
  }

  #diet > h2 {
    font-size: 200%;
    top: 41%;
    left: 75%;
  }

  #recovery > h2 {
    font-size: 200%;
    top: 42%;
  }
}

/* Medium phones (max-width 380px) */
@media screen and (max-width: 380px) {
  /* Homepage */

  /* Page Nav Menu */
  #page-nav-menu {
    display: none;
  }

  #page-nav-dropdown {
    display: flex;
  }

  #dropdown-button {
    display: none;
    justify-content: center;
    z-index: 99;
    width: 100%;
    position: fixed;
    top: 50px;
  }

  #dropdown-button:checked ~ nav {
    display: block;
  }

  #dropdown-button:checked ~ #dropdown-toggle-down {
    display: none;
  }

  #dropdown-button:checked ~ #dropdown-toggle-up {
    display: flex;
  }

  #dropdown-toggle-down {
    display: flex;
    justify-content: center;
    z-index: 98;
    width: 100%;
    padding: 5px;
    position: fixed;
    top: 50px;
    background-color: rgba(30, 30, 30, 0.7);
    color: rgba(238, 212, 187, 0.6);
    font-size: 90%;
    word-spacing: 10px;
  }

  #dropdown-toggle-up {
    display: none;
    justify-content: center;
    z-index: 98;
    width: 100%;
    padding: 5px;
    position: fixed;
    top: 50px;
    background-color: rgba(30, 30, 30, 0.7);
    color: rgba(238, 212, 187, 0.6);
    font-size: 90%;
    word-spacing: 10px;
  }

  #dropdown-nav {
    position: fixed;
    z-index: 97;
    top: 68px;
    padding: 8px;
    background-color: rgba(30, 30, 30, 0.7);
    color: white;
    text-transform: uppercase;
    display: none;
  }

  #dropdown-menu {
    list-style-type: none;
    line-height: 25px;
    text-align: center;
  }

  #dropdown-menu li:not(:last-child) {
    margin-bottom: 5px;
    border-bottom: 1px solid white;
    width: 100%;
  }

  #dropdown-menu a {
    color: inherit;
    text-decoration: none;
  }

  /* Homepage */
  #hero {
    height: 600px;
  }

  #hero > h2 {
    font-size: 240%;
  }

  #hero-button {
    font-size: 160%;
  }

  /* Events Page */
  #events-hero > h1 {
    font-size: 140%;
    transform: translate(-30%);
  }

  #events-hero > h2 {
    top: 80%;
    transform: translate(-35%);
  }

  #fitxpo-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }

  #fitxpo-content > img {
    position: static;
    height: 225px;
    transform: none;
    margin-bottom: 15px;
  }

  #fitxpo-text {
    position: static;
    width: 100%;
    transform: none;
    text-align: center;
  }

  #fitxpo-button img {
    position: static;
    transform: none;
  }

  #tough-mudder-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }

  #tough-mudder-content > img {
    position: static;
    height: 225px;
    transform: none;
    margin-bottom: 15px;
  }

  #tough-mudder-text {
    position: static;
    width: 100%;
    transform: none;
    text-align: center;
  }

  #tough-button img {
    position: static;
    transform: none;
  }

  #beyond-limits > h2 {
    font-size: 175%;
  }

  .big-text {
    font-size: 175%;
  }

  #beyond-limits-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }

  #beyond-limits-content > img {
    position: static;
    height: 225px;
    transform: none;
    margin-bottom: 15px;
  }

  #beyond-limits-text {
    position: static;
    width: 100%;
    transform: none;
    text-align: center;
  }

  #beyond-limits-button img {
    position: static;
    transform: none;
  }

  #mindful-heading > h2 {
    font-size: 175%;
    width: 120px;
  }

  #mindful-earth-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }

  #mindful-earth-content > img {
    position: static;
    height: 225px;
    transform: none;
    margin-bottom: 15px;
  }

  #mindful-earth-text {
    position: static;
    width: 100%;
    transform: none;
    text-align: center;
  }

  #mindful-button img {
    position: static;
    transform: none;
  }

  /* Go Further Page */
  #go-further-hero > h1 {
    font-size: 200%;
    left: 17%;
  }

  #go-further-hero > h2 {
    font-size: 80%;
    left: 10%;
    width: 220px;
  }

  #map {
    top: 263px;
  }

  /*Form Submitted Page */
  #form-submitted-background {
    height: 700px;
  }

  #form-submitted > h1 {
    font-size: 200%;
  }

  #form-submitted > h2 {
    font-size: 90%;
  }

  #form-submitted > h3 {
    font-size: 80%;
  }

  #centr-vid {
    height: 200px;
  }
}

/* Large or landscape phones (min-wdith 576px and up) */
@media screen and (min-width: 576px) {
  /* Homepage */
  #hero > h2 {
    font-size: 370%;
  }

  #hero-button {
    font-size: 240%;
  }

  #strength > h2 {
    font-size: 300%;
  }

  #strength-text > h3 {
    font-size: 140%;
  }

  #strength-text > p {
    font-size: 120%;
  }

  #endurance > h2 {
    font-size: 300%;
  }

  #endurance-text > h3 {
    font-size: 160%;
  }

  #endurance-text > p {
    font-size: 120%;
  }

  #diet > h2 {
    top: 60%;
    font-size: 300%;
  }

  #diet-text > h3 {
    font-size: 150%;
  }

  #diet-text > p {
    font-size: 120%;
  }

  #recovery > h2 {
    top: 62%;
    font-size: 300%;
  }

  #recovery-text > h3 {
    font-size: 160%;
  }

  #recovery-text > p {
    font-size: 120%;
  }

  /* Events Page */
  #events-hero {
    height: 275px;
  }

  #events-hero > h1 {
    top: 18%;
    font-size: 220%;
    width: 220px;
    line-height: 40px;
  }

  #events-hero > h2 {
    top: 72%;
    left: 33%;
    width: 360px;
    font-size: 100%;
    line-height: 22px;
  }

  #fitxpo {
    margin-top: 20px;
    min-height: 460px;
  }

  #fitxpo-logo > img {
    width: 180px;
  }

  #fitxpo-content > img {
    left: 23%;
    width: 200px;
  }

  #fitxpo-text {
    font-size: 80%;
    line-height: 15px;
  }

  #fitxpo-button img {
    top: 83%;
    height: 80px;
    width: 150px;
  }

  #tough-mudder {
    margin-top: 30px;
    min-height: 480px;
  }

  #tough-mudder-logo > img {
    width: 190px;
  }

  #tough-mudder-content > img {
    height: 240px;
  }

  #tough-mudder-text {
    font-size: 80%;
    line-height: 15px;
  }

  #tough-button img {
    top: 87%;
    height: 80px;
    width: 150px;
  }

  #beyond-limits {
    margin-top: 20px;
    min-height: 500px;
  }

  #beyond-limits > h2 {
    font-size: 240%;
  }

  .big-text {
    font-size: 190%;
  }

  #beyond-limits-content > img {
    left: 23%;
    width: 240px;
  }

  #beyond-limits-text {
    font-size: 80%;
    line-height: 15px;
  }

  #beyond-limits-button img {
    top: 81%;
    height: 80px;
    width: 150px;
  }

  #mindful-earth {
    margin-top: 30px;
    min-height: 540px;
  }

  #mindful-heading > h2 {
    font-size: 250%;
  }

  #mindful-heading > img {
    width: 90px;
  }

  #mindful-earth-content > img {
    height: 250px;
  }

  #mindful-earth-text {
    font-size: 80%;
    line-height: 15px;
  }

  #mindful-button img {
    top: 76%;
    height: 80px;
    width: 150px;
  }

  /* Go Further Page */
  #go-further-hero {
    height: 640px;
  }

  #go-further-hero > h1 {
    top: 415px;
    font-size: 280%;
  }

  #go-further-hero > h2 {
    top: 471px;
    font-size: 110%;
    max-width: 295px;
    padding: 8px;
  }
}

/* Tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

  /* Header */
  #nav-menu {
    height: 60px;
    font-size: 140%;
    padding: 15px 0;
  }

  #page-nav-menu {
    top: 60px;
    padding: 5px 0;
    font-size: 120%;
  }

  /* Homepage */
  #hero > h2 {
    top: 75%;
    left: 30%;
    font-size: 420%;
  }

  #hero-button {
    top: 85%;
    left: 42%;
    font-size: 250%;
  } 

  #strength-normal {
    display: none;
  }

  #strength-horizontal {
    display: block;
  }

  #strength-image > img {
    height: 500px;
    width: auto;
  }

  #strength > h2 {
    top: 10%;
    left: 14%;
    width: 25%;
    text-align: center;
    transform: translate(-25%);
    font-size: 245%;
  }

  #strength-text {
    position: absolute;
    top: 23%;
    left: 40%;
    width: 60%;
  }

  #strength-text > h3 {
    font-size: 180%;
  }

  #strength-text > p {
    font-size: 150%;
  }

  #endurance-normal {
    display: none;
  }

  #endurance-horizontal {
    display: block;
  }

  #endurance-image {
    display: flex;
    flex-direction: row-reverse;
  }

  #endurance-image > img {
    height: 550px;
    width: auto;
    margin-bottom: 0;
  }

  #endurance > h2 {
    top: 8%;
    left: 56%;
    width: 25%;
    transform: none;
    font-size: 240%;
  }

  #endurance-text {
    position: absolute;
    top: 24%;
    left: 0;
    width: 56%;
  }

  #endurance-text > h3 {
    font-size: 180%;
  }

  #endurance-text > p {
    font-size: 150%;
  }

  #diet-normal {
    display: none;
  }

  #diet-horizontal {
    display: block;
  }

  #diet-image > img {
    height: 500px;
    width: auto;
    margin-bottom: 0;
  }

  #diet > h2 {
    top: 18%;
    left: 9%;
    width: 25%;
    transform: none;
  }

  #diet-text {
    position: absolute;
    top: 22%;
    left: 43%;
    width: 55%;
  }

  #diet-text > h3 {
    font-size: 180%;
  }

  #diet-text > p {
    font-size: 150%;
    margin: 15px 0 20px;
  }

  #recovery-normal {
    display: none;
  }

  #recovery-horizontal {
    display: block;
  }

  #recovery-image {
    display: flex;
    flex-direction: row-reverse;
  }

  #recovery-image > img {
    height: 550px;
    width: auto;
    margin-bottom: 0;
  }

  #recovery > h2 {
    top: 68%;
    left: 70%;
    width: 25%;
    transform: none;
  }

  #recovery-text {
    position: absolute;
    top: 20%;
    left: 0;
    width: 55%;
  }

  #recovery-text > h3 {
    font-size: 180%;
  }

  #recovery-text > p {
    font-size: 150%;
  }

/* Events Page */
#events-hero {
  background-image: url('../images/events-hero-image-horizontal.webp');
}

#events-hero > h1 {
  width: 380px;
  top: 28%;
  left: 22%;
}

#events-hero > h2 {
  width: 430px;
  top: 76%;
  left: 26%;
}

#fitxpo {
  min-height: 530px;
}

#fitxpo-logo > img {
  width: 200px;
}

#fitxpo-content > img {
  width: 270px;
}

#fitxpo-text {
  font-size: 110%;
  line-height: 20px;
}

#fitxpo-button img {
  top: 88%;
  left: 68%;
}

#tough-mudder {
  min-height: 530px;
}

#tough-mudder-logo > img {
  width: 200px;
}

#tough-mudder-content > img {
  height: 330px;
  left: 65%;
}

#tough-mudder-text {
  font-size: 110%;
  line-height: 20px;
  left: 13%;
}

#tough-button img {
  top: 88%;
  left: 18%;
}

#beyond-limits {
  min-height: 580px;
}

#beyond-limits > h2 {
  font-size: 260%;
}

#beyond-limits-content > img {
  width: 330px;
}

#beyond-limits-text {
  font-size: 110%;
  line-height: 20px;
}

#beyond-limits-button img {
  top: 85%;
  left: 70%;
}

  #mindful-earth {
    min-height: 590px;
  }
  
  #mindful-earth > h2 {
    font-size: 260%;
  }
  
  #mindful-earth-content > img {
    height: 330px;
    left: 65%;
  }
  
  #mindful-earth-text {
    font-size: 110%;
    line-height: 20px;
    left: 13%;
  }
  
  #mindful-button img {
    top: 83%;
    left: 18%;
  }
}

/* Laptops and larger devices (min-width 1024px and larger) */
@media screen and (min-width: 1024px) {

  /* Header */
  #nav-menu {
    font-size: 150%;
  }

  #page-nav-menu {
    font-size: 130%;
    padding: 8px 0;
  }

  /* Homepage */

  /* Hidden Elements */
  #page-nav-menu {
    display: none;
  }

  #strength {
    display: none;
  }

  #endurance {
    display: none;
  }

  #diet {
    display: none;
  }

  #recovery {
    display: none;
  }

  /* Desktop Elements */
  #desktop-page-nav-menu {
    background-color: rgba(30, 30, 30, 0.7);
    padding: 8px 0;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    font-size: 130%;
    color: #fafafa;
    text-transform: uppercase;
    position: absolute;
    top: 60px;
  }
  
  #desktop-page-nav-menu a {
    color: inherit;
    text-decoration: none;
  }
  
  #hero {
  height: 600px;
  background-image: url('../images/hero-image-desktop.webp');
}

  #hero > h2 {
    top: 40%;
    left: 20%;
  }

  #hero-button {
    top: 54%;
    left: 30%;
  }

  #desktop-homepage {
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #eed4bb, black);
    color: white;
    position: relative;
  }

  #centreline-header {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    writing-mode: vertical-lr;
    background-image: linear-gradient(to bottom, #eed4bb, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 450%;
    font-weight: 900;
    text-transform: uppercase;
  }

  #homepage-top {
    display: flex;
  }

  #homepage-bottom {
    display: flex;
    padding-bottom: 30px;
  }

  #strength-desktop {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 20px;
  }

  #strength-desktop img {
    height: 600px;
    width: 455px;
    padding-left: 30px;
  }

  #strength-desktop > h3 {
    position: absolute;
    top: 20%;
    left: 61%;
    transform: translate(-90%);
    color: rgb(129, 147, 166);
    font-size: 240%;
    text-transform: uppercase;
  }

  #strength-desktop h4 {
    font-size: 140%;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  #strength-desktop-text {
    width: 400px;
    padding-left: 55px;
    font-size: 110%
  }
  
  #endurance-desktop {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    padding-top: 10px;
  }

  #endurance-desktop img {
    height: 600px;
    width: 450px;
    padding-right: 30px;
  }

  #endurance-desktop > h3 {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-80%);
    font-size: 230%;
    text-transform: uppercase;
  }

  #endurance-desktop h4 {
    font-size: 140%;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  #endurance-desktop-text {
    width: 400px;
    padding-right: 15px;
    font-size: 110%;
    padding-right: 50px;
  }

  #diet-desktop {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  #diet-desktop img {
    height: 600px;
    width: 450px;
    padding-left: 30px;
  }

  #diet-desktop > h3 {
    position: absolute;
    width: 120px;
    top: 54%;
    left: 60%;
    transform: translate(-80%);
    font-size: 270%;
    text-transform: uppercase;
  }

  #diet-desktop h4 {
    font-size: 140%;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  #diet-desktop-text {
    width: 400px;
    padding-left: 15px;
    font-size: 110%;
    padding-left: 55px;
  }

  #recovery-desktop {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }

  #recovery-desktop img {
    height: 600px;
    width: 440px;
    padding-right: 30px;
  }

  #recovery-desktop > h3 {
    position: absolute;
    top: 55%;
    left: 45%;
    transform: translate(-70%);
    text-align: center;
    font-size: 260%;
    text-transform: uppercase;
  }

  #recovery-desktop h4 {
    font-size: 140%;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  #recovery-desktop-text {
    width: 400px;
    padding-right: 15px;
    font-size: 110%;
    padding-right: 50px;
  }

}

/* Landscape phones (max-height 450px and smaller) */
@media screen and (max-height: 450px) {
  /* Header */
  #nav-menu {
    height: 40px;
    font-size: 115%;
  }

  #page-nav-menu {
    top: 40px;
    padding: 5px 10px;
    font-size: 95%; 
  }
  
  /* Homepage */

  #hero {
    height: 450px;
  }

  #hero > h2 {
    top: 35%;
    left: 18%;
    font-size: 330%;
  }

  #hero-button {
    top: 50%;
    left: 25%;
    font-size: 200%;
  }

  #strength-normal {
    display: none;
  }

  #strength-horizontal {
    display: block;
  }

  #strength-image > img {
    height: 500px;
    width: auto;
  }

  #strength > h2 {
    top: 17%;
    left: 6%;
    width: 25%;
    transform: none;
  }

  #strength-text {
    position: absolute;
    top: 23%;
    left: 40%;
    width: 60%;
  }

  #strength-text > h3 {
    font-size: 180%;
  }

  #strength-text > p {
    font-size: 150%;
  }

  #endurance-normal {
    display: none;
  }

  #endurance-horizontal {
    display: block;
  }

  #endurance-image {
    display: flex;
    flex-direction: row-reverse;
  }

  #endurance-image > img {
    height: 550px;
    width: auto;
    margin-bottom: 0;
  }

  #endurance > h2 {
    top: 9%;
    left: 59%;
    width: 25%;
    transform: none;
  }

  #endurance-text {
    position: absolute;
    top: 25%;
    left: 0;
    width: 60%;
  }

  #endurance-text > h3 {
    font-size: 180%;
  }

  #endurance-text > p {
    font-size: 150%;
  }

  #diet-normal {
    display: none;
  }

  #diet-horizontal {
    display: block;
  }

  #diet-image > img {
    height: 500px;
    width: auto;
    margin-bottom: 0;
  }

  #diet > h2 {
    top: 20%;
    left: 7%;
    width: 25%;
    transform: none;
  }

  #diet-text {
    position: absolute;
    top: 25%;
    left: 38%;
    width: 60%;
  }

  #diet-text > h3 {
    font-size: 180%;
  }

  #diet-text > p {
    font-size: 150%;
  }

  #recovery-normal {
    display: none;
  }

  #recovery-horizontal {
    display: block;
  }

  #recovery-image {
    display: flex;
    flex-direction: row-reverse;
  }

  #recovery-image > img {
    height: 550px;
    width: auto;
    margin-bottom: 0;
  }

  #recovery > h2 {
    top: 5%;
    left: 70%;
    width: 25%;
    transform: none;
  }

  #recovery-text {
    position: absolute;
    top: 24%;
    left: 0;
    width: 57%;
  }

  #recovery-text > h3 {
    font-size: 180%;
  }

  #recovery-text > p {
    font-size: 150%;
  }

  /* Events Page */
  #events-hero {
    background-image: url('../images/events-hero-image-horizontal.webp');
  }

  #events-hero > h1 {
    width: 250px;
    top: 25%;
    font-size: 250%;
    line-height: 55px;
  }

  #events-hero > h2 {
    top: 28%;
    left: 80%;
    width: 225px;
    font-size: 100%;
  }

  #fitxpo {
    min-height: 420px;
  }

  #fitxpo-content > img {
    width: 180px;
    top: 0;
    left: 25%;
  }

  #fitxpo-text {
    width: 350px;
    max-height: 330px;
    line-height: 15px;
    left: 50%;
    font-size: 90%;
  }

  #fitxpo-button img {
    height: 80px;
    width: 140px;
    top: 77%;
    left: 58%;
  }

  #tough-mudder {
    min-height: 420px;
  }

  #tough-mudder-content > img {
    height: 240px;
    top: 0;
    left: 25%;
  }

  #tough-mudder-text {
    width: 350px;
    max-height: 330px;
    line-height: 15px;
    left: 55%;
    font-size: 90%;
  }

  #tough-button img {
    height: 80px;
    width: 140px;
    top: 82%;
    left: 63%;
  }

  #beyond-limits {
    min-height: 420px;
  }

  #beyond-limits-content > img {
    width: 240px;
    top: 0;
    left: 25%;
  }

  #beyond-limits-text {
    width: 350px;
    max-height: 330px;
    line-height: 15px;
    left: 55%;
    font-size: 90%;
  }

  #beyond-limits-button img {
    height: 80px;
    width: 140px;
    top: 80%;
    left: 63%;
  }

  #mindful-earth {
    min-height: 420px;
  }

  #mindful-heading > img {
    width: 110px;
  }

  #mindful-earth-content > img {
    height: 230px;
    top: 0;
    left: 25%;
  }

  #mindful-earth-text {
    width: 350px;
    max-height: 330px;
    line-height: 15px;
    left: 55%;
    font-size: 90%;
  }

  #mindful-button img {
    height: 80px;
    width: 140px;
    top: 78%;
    left: 63%;
  }

  /* Go Further Page */
  #go-further-main {
    background-size: cover;
  }

  #go-further-hero {
    height: 300px;
  }

  #go-further-hero > h1 {
    top: 156px;
  }

  #go-further-hero > h2 {
    top: 210px;
  }

  #email {
    width: 220px;
  }

  #phone-number {
    width: 220px;
  }

  #walk-ins-text {
    border-radius: 10px 10px 0 0;
    min-height: 170px;
    line-height: 20px;
    text-align: center;
  }

  #map {
    top: 170px;
    border-radius: 0 0 10px 10px;
  }

  /* Form-Submitted Page */
  #form-submitted-background {
    background-size: cover;
    background-position-y: 90%;
  }

  #form-submitted {
    margin-top: 100px;
  }

  #form-submitted > h1 {
    font-size: 170%;
  }

  #form-submitted > h2 {
    font-size: 100%;
  }

  #centr-vid {
    width: 60%;
    height: auto;
  }
}