/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Anybody:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*Generic project styles*/
  font-family: "anybody", arial, sans-serif;
}

.hidden-heading {
  display: none;
}

.underline {
  text-decoration: underline;
}

/* Header */
nav {
  position: fixed;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

#nav-menu {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px 10px;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  color: #fafafa;
  font-size: 17px;
  text-transform: uppercase;
}

#nav-menu a {
  color: inherit;
  text-decoration: none;
}

#page-nav-menu {
  background-color: rgba(30, 30, 30, 0.7);
  padding: 5px 10px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  color: #fafafa;
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  top: 49px;
}

#page-nav-menu a {
  color: inherit;
  text-decoration: none;
}

#logo {
  color: white;
  font-weight: 800;
  font-size: 22px;
}

.divide {
  font-size: 40px;
  font-weight: lighter;
}

/* Main Content */
main {
  /* Make main element take up any surplus space to push footer down */
  flex: 1 0 auto;
  /* Enable flex properties for child elements */
  display: flex;
  flex-direction: column;
}

/* Hero Section */
#hero {
  position: relative;
  height: 800px;
  width: 100%;
  background-image: url("../images/hero-image.webp");
  background-size: cover;
  background-position: 70%;
  padding: 0 10% 0 10%;
}

#hero > h2 {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
  border-radius: 5%;
  padding: 15px;
  position: absolute;
  top: 73%;
  left: 32%;
  transform: translate(-40%);
  text-transform: uppercase;
  font-style: italic;
  color: white;
  font-size: 330%;
}

#hero-button {
  font-family: "anybody", arial, sans-serif;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  font-size: 200%;
  font-weight: 750;
  font-style: italic;
  text-decoration: none;
  text-wrap: nowrap;
  background-color: #eed4bb;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 82%;
  left: 45%;
  transform: translate(-40%);
}

#hero-button:hover {
  box-shadow: none;
  color: #eed4bb;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Strength Section */
#strength {
  background-color: #ebf3f7;
  width: 100%;
  color: slategrey;
  display: flex;
  flex-direction: column;
  position: relative;
}

#strength-image {
  display: flex;
  width: 100%;
}

#strength-image > img {
  width: 100%;
  object-fit: cover;
}

#strength > h2 {
  color: slategray;
  position: absolute;
  text-wrap: wrap;
  text-align: center;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  text-transform: uppercase;
  font-size: 250%;
}

#strength-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-wrap: wrap;
  word-spacing: 2px;
}

#strength-text > h3 {
  text-align: center;
  width: 90%;
  margin: 25px auto 0;
  text-transform: uppercase;
  font-size: 115%;
  word-spacing: normal;
}

#strength-text > p {
  text-align: center;
  width: 85%;
  margin: 15px auto 20px;
}

/* Endurance Section */
#endurance {
  background-color: #096b77;
  width: 100%;
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

#endurance-image {
  display: flex;
  width: 100%;
}

#endurance-image > img {
  width: 100%;
  margin-bottom: 10px;
  object-fit: cover;
}

#endurance > h2 {
  color: white;
  position: absolute;
  text-wrap: wrap;
  text-align: center;
  top: 17%;
  left: 35%;
  transform: translate(-50%);
  text-transform: uppercase;
  font-size: 250%;
}

#endurance-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-wrap: wrap;
  word-spacing: 2px;
}

#endurance-text > h3 {
  text-align: center;
  width: 90%;
  margin: 10px auto 0;
  text-transform: uppercase;
  font-size: 115%;
  word-spacing: normal;
}

#endurance-text > p {
  text-align: center;
  width: 85%;
  margin: 15px auto 20px;
}

/* Diet Section */
#diet {
  background-color: #856ea2;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

#diet-image {
  display: flex;
  width: 100%;
}

#diet-image > img {
  width: 100%;
  margin-bottom: 10px;
  object-fit: cover;
}

#diet > h2 {
  color: white;
  position: absolute;
  text-wrap: wrap;
  text-align: center;
  top: 49%;
  left: 70%;
  transform: translate(-50%);
  text-transform: uppercase;
  font-size: 250%;
  font-weight: 700;
}

#diet-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-wrap: wrap;
  word-spacing: 2px;
}

#diet-text > h3 {
  text-align: center;
  width: 85%;
  margin: 10px auto 0;
  text-transform: uppercase;
  font-size: 115%;
  word-spacing: normal;
}

#diet-text > p {
  text-align: center;
  width: 85%;
  margin: 15px auto 20px;
}

/* Recovery Section */
#recovery {
  background-color: #d5dfe4;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

#recovery-image {
  display: flex;
  width: 100%;
}

#recovery-image > img {
  width: 100%;
  margin-bottom: 10px;
  object-fit: cover;
}

#recovery > h2 {
  color: white;
  position: absolute;
  text-wrap: wrap;
  text-align: center;
  top: 52%;
  left: 60%;
  transform: translate(-50%);
  text-transform: uppercase;
  font-size: 250%;
  font-weight: 700;
}

#recovery-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-wrap: wrap;
  word-spacing: 2px;
  color: #263734;
}

#recovery-text > h3 {
  text-align: center;
  width: 85%;
  margin: 10px auto 0;
  text-transform: uppercase;
  font-size: 115%;
  word-spacing: normal;
}

#recovery-text > p {
  text-align: center;
  width: 85%;
  margin: 15px auto 20px;
}

/* Events Page*/

/* Events Hero Section */
#events-main {
  background-image: url('../images/black-background.webp');
  background-size: cover;
}

#events-hero {
  position: relative;
  height: 250px;
  width: auto;
  background-image: url("../images/events-hero-image-torn.webp");
  background-size: cover;
  background-position: 53%;
  padding: 0 10% 0 10%;
}

#events-hero > h1 {
  width: 200px;
  padding: 15px;
  position: absolute;
  top: 34%;
  left: 20%;
  transform: translate(-40%);
  text-transform: uppercase;
  font-style: italic;
  color: white;
  font-size: 170%;
  line-height: 31px;
}

#events-hero > h2 {
  position: absolute;
  top: 81%;
  left: 30%;
  transform: translate(-40%);
  color: white;
  font-size: 60%;
  font-weight: 500;
}

/* FitXPO 2024 */
#fitxpo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 370px;
}

#fitxpo-logo > img {
  width: 150px;
  height: auto;
  margin: 15px auto 0;
}

#fitxpo-content {
  position: relative;
  height: 380px;
  width: 100%;
  background-image: url("../images/black-background-torn.webp");
  background-size: cover;
  display: flex;
}

#fitxpo-content > img {
  width: 160px;
  height: auto;
  border-radius: 20%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 7%;
  left: 21%;
  transform: translate(-35%);
}

#fitxpo-text {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 10px 3px;
  border-radius: 5px;
  font-size: 58%;
  position: absolute;
  top: 7%;
  left: 61%;
  transform: translate(-15%);
  list-style-type: none;
  word-spacing: 1px;
  line-height: 10px;
}

#fitxpo-text > li:not(last-child) {
margin-bottom: 10px;
}

#fitxpo-button img {
  position: absolute;
  width: 100px;
  top: 82%;
  left: 65%;
  transform: translate(-15%);
}

.red-text {
  color: #d12329;
}

/* Tough Mudder */
#tough-mudder {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 370px;
}

#tough-mudder-logo > img {
  width: 150px;
  height: auto;
  margin: 0 auto 0;
}

#tough-mudder-content {
  position: relative;
  height: 380px;
  width: 100%;
  background-image: url("../images/black-background-torn.webp");
  background-size: cover;
  display: flex;
}

#tough-mudder-content > img {
  width: auto;
  height: 190px;
  border-radius: 20%;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 10%;
  left: 62%;
  transform: translate(-35%);
}

#tough-mudder-text {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 10px 3px;
  border-radius: 5px;
  font-size: 58%;
  position: absolute;
  width: 35%;
  top: 6%;
  left: 10%;
  transform: translate(-15%);
  list-style-type: none;
  word-spacing: 1px;
  line-height: 10px;
}

#tough-mudder-text > li:not(last-child) {
margin-bottom: 10px;
}

#tough-button img {
  position: absolute;
  width: 100px;
  top: 89%;
  left: 13%;
  transform: translate(-15%);
}

.orange-text {
  color: #fe5e00;
}

/* Beyond the Limits 2024 */
#beyond-limits {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 390px;
}

#beyond-limits > h2 {
  margin-top: 20px;
  color: white;
  font-size: 200%;
  font-weight: 400;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
}

#beyond-limits-content {
  position: relative;
  height: 380px;
  width: 100%;
  background-image: url("../images/black-background-torn.webp");
  background-size: cover;
  display: flex;
}

#beyond-limits-content > img {
  width: 190px;
  height: auto;
  border-radius: 20%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 2%;
  left: 23%;
  transform: translate(-35%);
}

#beyond-limits-text {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 10px 3px;
  border-radius: 5px;
  font-size: 58%;
  position: absolute;
  left: 65%;
  transform: translate(-15%);
  list-style-type: none;
  word-spacing: 1px;
  line-height: 10px;
}

#beyond-limits-text > li:not(last-child) {
margin-bottom: 10px;
}

#beyond-limits-button img {
  position: absolute;
  width: 110px;
  top: 82%;
  left: 67%;
  transform: translate(-15%);
}

.yellow-text {
  color: #ffcb05;
}

.big-text {
  font-size: 200%;
  vertical-align: sub;
}

/* Mindful Earth */
#mindful-earth {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 400px;
  margin-top: 10px;
}

#mindful-heading {
display: flex;
position: relative;
}

#mindful-heading > h2 {
  margin-top: 20px;
  color: white;
  font-size: 200%;
  font-weight: 400;
  font-family: 'ABeeZee', 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
}

#mindful-heading > img {
  width: 80px;
  height: auto;
  margin: 0 auto 0;
}

#mindful-earth-content {
  position: relative;
  height: 380px;
  width: 100%;
  background-image: url("../images/black-background-torn.webp");
  background-size: cover;
  display: flex;
}

#mindful-earth-content > img {
  width: auto;
  height: 190px;
  border-radius: 20%;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 10%;
  left: 62%;
  transform: translate(-35%);
}

#mindful-earth-text {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 10px 3px;
  border-radius: 5px;
  font-size: 58%;
  position: absolute;
  width: 35%;
  top: 3%;
  left: 10%;
  transform: translate(-15%);
  list-style-type: none;
  word-spacing: 1px;
  line-height: 10px;
}

#mindful-earth-text > li:not(last-child) {
margin-bottom: 10px;
}

#mindful-button img {
  position: absolute;
  width: 100px;
  top: 80%;
  left: 13%;
  transform: translate(-15%);
}

.green-text {
  color: #779d30;
}

/* Go Further Page */

/* Go Further Hero Section */

#go-further-main {
  display: flex;
  flex-grow: 1;
  background-image: url('../images/go-further-hero.webp');
  background-size: auto 100%;
  background-position-x: 45%;
  background-attachment: fixed;
  position: relative;
}

#go-further-hero {
  height: 700px;
}

#go-further-headings {
  position: absolute;
  top: 70%;
  left: 15%;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

#go-further-headings > h1 {
  font-size: 220%;
  font-weight: 750;
  text-transform: uppercase;
  line-height: 40px;
}

#go-further-headings > h2 {
  font-size: 100%;
  font-style: italic;
}

#go-further-signup {
  width: 90%;
  padding: 10px;
  border-radius: 0px 10px 10px 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  
}

#go-further-signup div {
  text-align: center;
  }

/* Footer */
footer {
  background-color: black;
}

/* Partners Section */
#partners {
  background-color: black;
  margin: 0;
}

#partners > h2 {
  color: white;
  font-size: 95%;
  text-transform: uppercase;
  text-align: center;
  margin: 30px auto 0;
}

#partners > h3 {
  color: white;
  font-size: 80%;
  text-align: center;
  margin: 0 auto 5px;
  padding-bottom: 15px;
}

#partner-logos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 0;
}

#partner-logos img {
  width: 50px;
  height: auto;
  margin: 0 auto;
}

/* Contact Section */
#contact {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 50%;
}

#mission-statement {
  width: 40%;
  margin-bottom: 15px;
}

#mission-statement > h2 {
  text-transform: uppercase;
  margin-bottom: 2px;
}

#mission-statement > h3 {
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.contact-details {
  margin-bottom: px;
  text-align: right;
}

/* Social Networks Section */
#social-networks {
  background-color: rgba(0, 0, 0, 1);
  text-align: center;
  padding: 3px 10px 15px;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 90%;
}

#social-networks i {
  font-size: 180%;
  padding: 5%;
  color: white;
}

/* Responsivity - Media Queries */
