/* Google Fonts import */
@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wdth,wght@0,50..150,100..900;1,50..150,100..900&display=swap");

/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*Generic project styles*/
  font-family: "anybody", arial, sans-serif;
}

.hidden-heading {
  display: none;
}

.underline {
  text-decoration: underline;
}

/* Header */

nav {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px 10px;
  position: fixed;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

#nav-menu {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  color: #fafafa;
  font-size: 17px;
  text-transform: uppercase;
}

#nav-menu a {
  color: inherit;
  text-decoration: none;
}

#logo {
  color: white;
  font-weight: 800;
  font-size: 22px;
}

.divide {
  font-size: 40px;
  font-weight: lighter;
}

/* Main Content */
main {
  /* Make main element take up any surplus space to push footer down */
  flex: 1 0 auto;
  /* Enable flex properties for child elements */
  display: flex;
  flex-direction: column;
}

/* Hero Section */

#hero {
  position: relative;
  height: 800px;
  width: 100%;
  background-image: url("../images/hero-image.webp");
  background-size: cover;
  background-position: 70%;
  padding: 0 10% 0 10%;
}

#hero-header > h2 {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5%;
  padding: 15px;
  position: absolute;
  top: 73%;
  left: 32%;
  transform: translate(-40%);
  text-transform: uppercase;
  font-style: italic;
  color: white;
  font-size: 330%;
}

#hero-button {
  font-family: "anybody", arial, sans-serif;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  font-size: 200%;
  font-weight: 750;
  font-style: italic;
  text-decoration: none;
  text-wrap: nowrap;
  background-color: #eed4bb;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 82%;
  left: 45%;
  transform: translate(-40%);
}

#hero-button:hover {
  box-shadow: none;
  color: #eed4bb;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Strength Section */
#strength {
  background-color: #ebf3f7;
  width: 100%;
  color: slategrey;
  display: flex;
  flex-direction: column;
  position: relative;
}

#strength-image {
  display: flex;
  width: 100%;
}

#strength-image > img {
  width: 100%;
  object-fit: cover;
}

#strength > h2 {
  color: slategray;
  position: absolute;
  text-wrap: wrap;
  text-align: center;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  text-transform: uppercase;
  font-size: 250%;
}

#strength-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-wrap: wrap;
  word-spacing: 3px;
}

#strength-text > h3 {
  text-align: center;
  width: 90%;
  margin: 10px auto 0;
  text-transform: uppercase;
  font-size: 130%;
}

#strength-text > p {
  text-align: center;
  width: 85%;
  margin: 15px auto 20px;
  font-size: 115%;
}

/* Endurance Section */
#endurance {
  background-color: #096b77;
  width: 100%;
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

#endurance-image {
  display: flex;
  width: 100%;
}

#endurance-image > img {
  width: 100%;
  margin-bottom: 10px;
  object-fit: cover;
}

#endurance > h2 {
  color: white;
  position: absolute;
  text-wrap: wrap;
  text-align: center;
  top: 17%;
  left: 35%;
  transform: translate(-50%);
  text-transform: uppercase;
  font-size: 250%;
}

#endurance-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-wrap: wrap;
  word-spacing: 3px;
}

#endurance-text > h3 {
  text-align: center;
  width: 90%;
  margin: 10px auto 0;
  text-transform: uppercase;
  font-size: 130%;
}

#endurance-text > p {
  text-align: center;
  width: 85%;
  margin: 15px auto 20px;
  font-size: 115%;
}

/* Diet Section */
#diet {
  background-color: #856ea2;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

#diet-image {
  display: flex;
  width: 100%;
}

#diet-image > img {
  width: 100%;
  margin-bottom: 10px;
  object-fit: cover;
}

#diet > h2 {
  color: white;
  position: absolute;
  text-wrap: wrap;
  text-align: center;
  top: 47%;
  left: 70%;
  transform: translate(-50%);
  text-transform: uppercase;
  font-size: 280%;
  font-weight: 700;
}

#diet-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-wrap: wrap;
  word-spacing: 3px;
}

#diet-text > h3 {
  text-align: center;
  width: 90%;
  margin: 10px auto 0;
  text-transform: uppercase;
  font-size: 130%;
}

#diet-text > p {
  text-align: center;
  width: 85%;
  margin: 15px auto 20px;
  font-size: 115%;
}

/* Recovery Section */
#recovery {
  background-color: #d5dfe4;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

#recovery-image {
  display: flex;
  width: 100%;
}

#recovery-image > img {
  width: 100%;
  margin-bottom: 10px;
  object-fit: cover;
}

#recovery > h2 {
  color: ;
  position: absolute;
  text-wrap: wrap;
  text-align: center;
  top: 50%;
  left: 55%;
  transform: translate(-50%);
  text-transform: uppercase;
  font-size: 280%;
  font-weight: 700;
}

#recovery-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-wrap: wrap;
  word-spacing: 3px;
  color: #263734;
}

#recovery-text > h3 {
  text-align: center;
  width: 90%;
  margin: 10px auto 0;
  text-transform: uppercase;
  font-size: 130%;
}

#recovery-text > p {
  text-align: center;
  width: 85%;
  margin: 15px auto 20px;
  font-size: 115%;
}

/* Footer */
/* Partners Section */
#partners {
  background-color: black;
  margin: 0;
}

#partners > h2 {
  color: white;
  font-size: 200%;
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
}

#partners > h3 {
  color: white;
  font-size: 140%;
  text-align: center;
  margin: 0 5px;
  padding-bottom: 20px;
}

#partner-logos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0;
}

#partner-logos img {
  width: 110px;
  height: auto;
  margin: 0 auto;
}

/* Contact Section */
#contact {
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 70%;
}

#mission-statement {
  width: 80%;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#mission-statement > h2 {
  margin-bottom: 2px;
}

#mission-statement > h3 {
  font-style: italic;
  margin-bottom: 2px;
}

.contact-details {
  margin-bottom: 10px;
}

/* Social Networks Section */
#social-networks {
  background-color: rgba(0, 0, 0, 1);
  text-align: center;
  padding: 20px 10px;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

#social-networks i {
  font-size: 200%;
  padding: 5%;
  color: white;
}

/* Responsivity - Media Queries */
